body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.header-icon{
    width: 35px;
}

.header-title{
    font-size: 25px;
    font-weight: 700;
}

.header-button{
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.button-icon{
    color: white;
    width: 20px;
}

.main{
    display: flex;
}

.sidebar{
    width: 400px;
    height: 90vh;
    border-right: 1px solid #D8D8D8;
}

.search-box{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}

.search-input{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D8D8D8;
}

.search-button{
    background-color: black;
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.search-button:hover{
    background-color: #333;
}

.search-button-icon{
    color: white;
    width: 20px;
}

.contact-list{
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #D8D8D8;
}

.contact-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-item{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    border-bottom: 1px solid #D8D8D8;
    cursor: pointer;
}

.contact-text h3{
    font-size: 17px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-text p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
}

.contact-item-button{
    background-color: #FFF4F4;
    border: 1px solid #FADADA;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: -10px;
    cursor: pointer;
}

.contact-item-button:hover{
    background-color: #FADADA;
}

.contact-item-button-icon{
    color: #C20606;
    width: 20px;
}

.contact-details{
    width: 100%;
}

.contact-details-header{
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.contact-details-header-title{
    margin-left: 15px;
}

.contact-details-header-buttons{
    display: flex;
    gap: 10px;
    margin-right: 15px;
}

.contact-details-button{
    background-color: #F7F7F7;
    border: 1px solid #DBDBDB;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: -10px;
    cursor: pointer;
}

.contact-details-button:hover{
    background-color: #DBDBDB;
}

.contact-details-button-icon{
    color: #707070;
    width: 20px;
}

.contact-details-header p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-details-header h3{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-details-body{
    padding: 15px;
    margin-top: -10px;
}

.contact-details-item h3{
    font-size: 14px;
    color: grey;
    margin-bottom: 0px;
}

.contact-details-item p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
}

.contact-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    flex-direction: column;
}

.contact-image-container h2{
    font-size: 22px;
    font-weight: 700;
    margin-top: 50px;
}

.contact-image{
    width: 300px;
}